adium-theme-ubuntu==0.3.4
beautifulsoup4==4.5.1
click==6.7
cycler==0.10.0
Flask==0.12.2
funcsigs==1.0.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==1.5.2rc2
mechanize==0.2.5
mock==2.0.0
numpy==1.11.3
pbr==1.10.0
Pillow==3.4.2
protobuf==3.1.0
pygobject==3.22.0
pyparsing==2.1.8
python-dateutil==2.4.2
pytz==2014.10
requests==2.12.4
six==1.10.0
tensorflow==0.12.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
virtualenv==15.0.3
Werkzeug==0.12.2
